/*Button styline for the header button*/
.button {
  background-color: $secondary-blue;
  color: $primary-white;
  font-size: $small;
  font-weight: 600;
  line-height: $medium;
  height: $vlarge;
  padding: 0 $vlarge;
  border-radius: 5px;
  text-align: center;
  border: 1px solid $primary-blue;
  font-family: "AvenirNext LT Pro";
  width: 100%;
  @include tablet {
    margin: auto;
    height: $vlarge;
    width: 10rem;
  }
  @include desktop {
    height: 2.5rem;
    font-size: $vsmall;
    font-weight: 600;
    width: 9rem;
  }
}
