.large-hero {
  display: flex;
  margin-top: $medium;
  position: relative;
  flex-grow: 1;
  @include tablet {
    margin-top: 0;
  }
  &__video {
    width: 100%;
    background: black;
    height: 15rem;
    @include tablet {
      height: 31.25rem;
    }
    &:focus {
      outline-width: 0;
    }
  }
}
