input {
  width: 100%;
  padding: $small;
  margin-bottom: $vsmall;
  border-radius: 0.25rem;

  border: 1px solid $secondary-mercury;
  resize: none;
  font-family: "AvenirNext LT Pro";

  &:focus {
    border: 2px solid $secondary-blue;
    outline-width: 0;
  }
  &::placeholder {
    /* Correctly nest the placeholder selector within the input selector */
    color: $secondary-black;
    font-size: $small;
    opacity: 1;
  }
}
textarea {
  width: 100%;
  margin-bottom: $vsmall;
  border-radius: 0.25rem;
  background-color: $secondary-alabaster;
  border: 1px solid $secondary-mercury;
  resize: none;
  font-family: "AvenirNext LT Pro";
  &:focus {
    border: 1px solid $secondary-blue;
    outline-width: 0;
  }
  &::placeholder {
    /* Correctly nest the placeholder selector within the input selector */
    color: $secondary-black;
    font-size: $small;
    padding-top: $medium;
    padding-bottom: $medium;
    opacity: 1;
  }
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  width: 100%;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  color: $primary-silver;
}
button {
  text-transform: uppercase;
  background-color: $primary-blue;
  color: $primary-white;
  font-size: $small;
  font-weight: 600;
  line-height: $medium;
  height: $vlarge;
  padding: 0 $vlarge;
  border-radius: 5px;
  text-align: center;
  border: 1px solid $primary-blue;
  font-family: "AvenirNext LT Pro";

  @include tablet {
    height: $vlarge;
    width: 10rem;
  }
  @include desktop {
    height: 2.5rem;
    font-size: $vsmall;
    font-weight: 600;
    width: 9rem;
  }
}
