/*Overall Section wrapper*/
.wrapper {
  overflow: hidden;
  padding-left: $small;
  padding-right: $small;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    padding-left: $large;
    padding-right: $large;
  }
  @include desktop {
    padding-left: $vlarge;
    padding-right: $vlarge;
  }
  &--comment {
    overflow: hidden;
    padding-left: $small;
    padding-right: $small;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      padding-left: 4rem;
      padding-right: 0;
    }
  }
  &--next {
    overflow: hidden;
    padding-left: $small;
    padding-right: $small;
    margin-left: auto;
    margin-right: auto;
    @include desktop {
      padding-left: 1rem;
      padding-right: 4rem;
    }
  }
}
.comment-next-outer {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: row;
  }
  &--one {
    flex: 0;
    @include desktop {
      flex: 3;
    }
  }
  &--two {
    flex: 0;
    @include desktop {
      flex: 2;
      border-left: 1px solid $primary-silver;
    }
  }
}
