/*This is for the comment section of the page*/
.comment {
  &-main {
    display: flex;
    flex-direction: row;
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding-top: $small;
      flex-direction: row;
    }
    @include desktop {
      padding-right: $medium;
    }
    &__avatar {
      width: $vlarge;
      height: $vlarge;
      overflow: hidden;
      border-radius: 50%;
      margin-top: $vlarge;
      margin-right: $small;
      @include tablet {
        margin-top: $vvlarge;
        margin-right: $medium;
      }
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__form {
      flex-grow: 6;
      display: flex;
      flex-direction: column;
      @include tablet {
        padding-top: $vsmall;
        flex-direction: row;
        padding-right: $large;
      }
      @include desktop {
        padding-right: 0;
      }
      &-inputlab {
        flex-grow: 6;
        display: flex;
        flex-direction: column;
        @include tablet {
          margin-right: $vlarge;
        }
      }
      &-button {
        background: url("../../assets/icons/add_comment.svg");
        background-color: $primary-blue;
        color: $primary-white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 5% center;
        background-size: $medium $medium;
        margin-bottom: $large;
        @include tablet {
          margin-top: 3.3rem;
          height: $vlarge;
          width: 10rem;
        }
        @include desktop {
          height: $vlarge;
          font-size: $vsmall;
          font-weight: 600;
          width: 9rem;
        }
      }
    }
  }
  &-default {
    &-line {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $primary-silver;
      border-top: 1px solid $primary-silver;
      padding-bottom: $medium;
      padding-top: $vsmall;
    }
    &__avatar {
      padding-left: 36px;
      background-color: $primary-silver;
      width: 2.25rem;
      height: 2.25rem;
      overflow: hidden;
      border-radius: 50%;
      margin-top: $small;
      margin-right: $small;
      @include tablet {
        padding-left: 50px;
        width: 3rem;
        height: 3rem;
        margin-right: $small;
      }
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__textarea {
      @include desktop {
        padding-right: $medium;
      }
      display: flex;
      flex-direction: column;
      flex-grow: 6;
    }
    &__HD {
      display: flex;
      justify-content: space-between;
    }
    &__header {
      font-family: "AvenirNext LT Pro";
      font-size: $small;
      font-weight: 600;
      margin-bottom: $vsmall;
    }
    &__date {
      font-family: "AvenirNext LT Pro";
      font-size: $small;
      color: $primary-silver;
    }
    &__text {
      word-wrap: break-word;
      color: $secondary-black;
      font-family: "AvenirNext LT Pro";
      font-size: 1.3rem;
      margin-top: 0.8rem;
      @include tablet {
        font-size: 1.3rem;
      }
      @include desktop {
        font-size: $small;
      }
    }
  }
}
.selectedComment {
  display: flex;
  flex-direction: column;
  margin-top: $large;
  margin-bottom: $large;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
  }

  &__main {
    border-top: 2px solid $primary-silver;
    padding-top: $medium;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $primary-silver;
    @include tablet {
      padding-top: 0;
      border-top: 0;
    }
    &--one {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--two {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-by {
      padding-bottom: $medium;
      margin-right: $vlarge;
      text-align: center;
      font-size: $medium;
      line-height: $large;
      font-family: "AvenirNext LT Pro";
      font-weight: 600;
      @include tablet {
        padding-bottom: 0;
      }
      @include desktop {
        font-size: $small;
      }
    }
    &-date {
      font-size: $medium;
      line-height: $large;
      font-family: "AvenirNext LT Pro";
      font-weight: 600;
      color: $primary-silver;
      @include desktop {
        font-size: $small;
      }
    }

    &--icon {
      padding-right: 0.5rem;
      width: 3rem;
      height: 3rem;
    }
    &-view {
      display: flex;
      padding-bottom: $medium;
      margin-right: $vlarge;
      color: $primary-silver;
      @include tablet {
        padding-bottom: 0;
      }
    }

    &-like {
      display: flex;
      color: $primary-silver;
      margin-right: $vlarge;
    }
  }
  &__description {
    font-family: "AvenirNext LT Pro";
    &--text {
      margin-top: $large;
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 0;
      @include desktop {
        font-size: $small;
        padding-right: $medium;
      }
    }
  }
}
